header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90px;
    background-color: var(--bg-color-01);
}

.logo {
    width: 150px;
}

nav {
    width: 60%;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    list-style: none;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
}
li:hover {
    color: var(--color-03);
}

.nav-small {
    display: none;
}