@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

:root {
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: var(--color-02);
  
  --bg-color-01: #000000;
  --bg-color-02: #ffffff;
  --bg-color-03: #960000;
  --bg-color-04: #181818;

  --color-01: #000000;
  --color-02: #ffffff;
  --color-03: #D21617;
}

#root {
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

a {
  text-decoration: none;
}